html, body { height:100%; }
body {
        -webkit-user-select:none;
        
}
.ui-btn {text-align: left}
.wrapper {
        width:100%;
        min-width:320px;
        height:200px;
        background:#ddd;
        border-top:1px solid #aaa;
        border-bottom:1px solid #aaa;
}
.carousel > ul {
        display:none;
}
#swipeview-slider > div {
        position:relative;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-box-pack:center;
        -webkit-box-align:center;
        overflow:hidden;
}

#swipeview-slider span {
        -webkit-box-sizing:border-box;
        display:block;
        //font-size:1.4em;
        padding:0 20px;
}

